* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

header {
    background: url("bc7.jpg");
    height: 140vh;
    background-position: center;
    position: relative;
}

.CafeMenu {
    float: right;
    list-style: none;
    margin-top: 30px;
    background-color: bisque;
}

.CafeMenu li {
    display: inline-block;
    background-color: bisque;
}

.cafeMenu li a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: monospace;
    font-size: 16px;
}

.CafeMenu li a:hover {
    background: #fff;
    color: #333;
}

.logo img {
    width: 100px;
    float: top left;
    height: auto;
}

.Welcome {
    position: absolute;
    text-align: center;
    width: 700px;
    height: 350px;
    color: bisque;
    margin: 20% 30%;
}

.welcome h1 {
    font font-size: 100px;
    text-decoration: none;
    text-transform: capitalize;
}

.welcome a {
    color: white;
    border: 1px solid #fff;
    float: bottom right;
}

.welcome a:hover {
    background: black;
}

section {
    width: 100%;
    height: 100vh;
    background: url(logof.jpeg);
    background-size: cover;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 345px;
    text-align: center;
}

.loginform {
    position: relative;
    box-sizing: border-box;
}

.loginform:hover {
    background: rgba(255, 255, 255, .1);
}

.loginform input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    border: none;
}

.loginform input[type="submit"] {
    color: #000;
    background-color: aqua;
    cursor: pointer;
}

.register {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    text-align: center;
}

.registrationform {
    position: relative;
    box-sizing: padding-box;
}

.registrationform:hover {
    background: rgba(255, 255, 255, .1);
}

.registrationform input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    border: none;
}

.registrationform input[type="submit"] {
    color: black;
    background-color: #ffc67f;
    cursor: pointer;
}

.cafes {
    /* background: url(reg.jpg); */
    background: skyblue;
    height: 100vh;
    width: 100%;
}

.cafes h1 {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    align-self: auto;
}

.cafes a {
    text-align: center;
    /* float: left;
    top: 60%;
    right: 50%;
    padding: 100px 40px;
    background-size: cover; */
}

.cafe-names {
    display: flex;
    justify-content: space-around;
}

.cafe-names>div>a>img {
    height: 350;
    width: 450;
}

.cafe-section {
    transition: .5s ease;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.53);
}

.cafe-section:hover {
    transform: scale(.95);
}

.lazenby {
    /* background: url("bacpic.jpeg"); */
    /* height: 620vh; */
}

.trade {
    /* color: black;
    float: right;
    text-decoration-color: aqua;
    padding: 20px 10px; */
}

.nonveg img {
    /* height: 470px;
    width: 800px; */
    height: 250px;
    width: 350px;
}

.bev-section {}

.veg img {
    height: 250px;
    width: 350px;
}

.veg {
    /* float: right;
    text-align: justify;
    padding-right: 20px 25px; */
}

.bev {
    /* text-align: justify; */
}

.suzy {
    background: url(bacpic.jpeg);
    height: 610vh;
    background-size: cover;
}

.trades {
    color: black;
    float: right;
    padding: 20px 10px;
}

.tradetable {
    background: url(bacpic.jpeg);
    height: 610vh;
}

.masterlist {
    padding-top: 13%;
    padding-left: 10%;
    background-color: beige;
    background-position: center;
}

.masterlist input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    border: none;
}

.masterlist:hover {
    border-bottom-color: aqua;
}